@charset "UTF-8";


#xx p#first.last{

}

 p#first{ /* 1점 +100점  */
    color : green;
}

#first { /* 100점  */
	color: aqua;
}

.last{ /* 1점 +10점  */
    background-color: yellow;
}

p {
	color: red;
	text-align: center;
}

p {
	color: blue;
}